.app-status-bar {
  overflow: hidden;
  color: #bbbbbb;
  display: flex;
  height: 24px;
  line-height: 24px;
  border-top: 1px solid #333;

  &__type {
    width: 33px;
    overflow: hidden;
    text-align: center;
    border-right: 1px solid #333;
  }

  &__message {
    flex: 1;
    margin-left: 4px;
    color: #666;
  }
}
