.app-side-bar {
  border-right: 1px solid #ffffff;

  a {
    display: block;
    color: #bbbbbb;
    text-align: center;
    font-size: 24px;
    line-height: 40px;

    &:hover {
      color: #ffffff;
    }
  }

  hr {
    margin: 0 5px;
    display: block;
  }

  i {
    position: relative;
  }

  .icon-cubes {
    left: -3px;
  }

  .icon-cog-alt {
    left: -1px;
  }
}
