.app-sidebar {
  border-right: 1px solid #666;
  padding-top: 6px;
  width: 33px;

  a, &__button {
    display: block;
    color: #666;
    text-align: center;
    font-size: 24px;
    line-height: 40px;

    &:hover {
      color: white;
    }

    &.active {
      color: white;
      pointer-events: none;
    }

    &.disabled {
      color: #333;
      pointer-events: none;
    }
  }

  hr {
    margin: 0 5px;
    display: block;
  }

  i {
    position: relative;
  }

  .icon-cubes {
    left: -3px;
  }

  .icon-cog-alt {
    left: -1px;
  }
}
